#container{
    width: 100%; /* Define a largura do container*/
    margin: 20px auto; /* Centraliza o container na página*/
}

#estrutura{
    width: 400px;
    height: 200px;
    background-color: #FF0000;
}

#roda-d{
    /* Tamanho da roda */
    width: 35px;
    height: 35px;

    background-color: gray;

    border: 10px solid;
    border-radius: 50%; /* Arredonda as bordas para criar um círculo*/
    border-color: black;
}

#roda-t{
    /* Tamanho da roda */
    width: 40px;
    height: 40px;
    
    background-color: gray;
    
    border: 10px solid;
    border-radius: 50%; /* Arredonda as bordas para criar um círculo*/
    border-color: black;
}